@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --font-primary: 'Montserrat', sans-serif;
  --overlay: rgba(0 0 0 / 60%);
  --main: #F5F5F5;
  --primary-400: #F7EE55;
  --primary-600: #6184FF;
  --contrast-100: #fff;
  --contrast-200: #FAFAFA;
  --contrast-400: #e4e6f9;
  --contrast-500: #AAAAAA;
  --contrast-600: #000000;
  --error-400: #DA1515;
  --modal-z-index: 10;
  --overlay-z-index: 9;
} 

html {
  background-color: var(--main);
  font-family: var(--font-primary);
}