.inputsBlock {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.errorField {
  height: 54px;
  display: flex;
  justify-content: start;
  align-items: center;
  color: var(--error-400);
}

.btnsBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
