.TextAreaWrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.label {
  color: var(--contrast-600);
}

.required .label::after {
  content: '*';
  color: var(--error-400);
  margin-left: 4px;
}

.textArea {
  min-width: 500px;
  min-height: 95px;
  border: 1px solid var(--contrast-500);
  border-radius: 6px;
  padding: 8px 16px;
  color: var(--contrast-600);
  resize: vertical;
}
